@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 flex-wrap: wrap;
}
.r1{
   margin: 10px;
    padding: 25px;
   
}
.r2{
   margin: 10px;
}
.r3{
   margin: 15px;
}
body{
  width: 100%;  
  height: 100%;
  background-color:rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 30px;
  flex-direction: column;
}
#logo{
    width: 20vw;
    height: 280px;
    
    
}
h1{
color: aliceblue;
font-family: "Protest Guerrilla", sans-serif;
}
#name{
    color: rgb(255, 0, 234);
    font-size: 45px;
}
#va{
color: aqua;
font-size: 45px;
}
#voice{
    width: 500px;
    display: none;
   padding: 10px;
    
}
#bt1{

    background: linear-gradient(to right,rgb(21, 145, 207),rgb(207, 74, 136));
    color: wheat;
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 25px 0px 25px 0px;
    font-size: 30px;
}
#bt1:hover{
    border-bottom: 3px solid rgb(92, 244, 244);
    background: linear-gradient(to right,rgb(207, 74, 136),rgb(21, 145, 207));
    color: coral;

}

#btn{
   
    width: 500px;
   
     background: linear-gradient(to right,rgb(21, 145, 207),rgb(201, 41, 116));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color:whitesmoke;
    box-shadow: 4px 4px 4px rgb(21, 145, 207),4px 4px 4px rgb(201, 41, 116);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 30px;
}
#btn:hover{
    box-shadow: 2px 2px 10px rgb(21, 145, 207),2px 2px 10px rgb(201, 41, 116);
    letter-spacing: 2px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

.sec{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rbga(0,0,0,0.5);
    background-blend-mode: overlay;
}
.vid{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}
  @import url(https://fonts.googleapis./css2?family=poppins);
  *{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "popins",sans-serif;
  }
  
  .chatbot{
    background: #fff;
    width: 420px;
    overflow: hidden;
    right: 40px;
    position: fixed;
    bottom: 100px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgb(21, 145, 207),4px 4px 4px rgb(201, 41, 116);
  }
  .chatbot header{
    background:rgb(21, 145, 207);
    padding: 16px 0;
    text-align: center;
  }
  .chatbot header h2{
    color:rgb(255, 245, 245);
    font-size: 1.4rem;
  }
  .chatbot header{
    height: 510;
    overflow-y: auto;
    padding: 15px 20px 70px;
  }
  .chatbox .chat{
    display: flex;
  }
  .chatbox .chat p{
    color: #ffffff;
    padding: 12px 16;
    border-radius: 10px;
    
  }
  .chat_incoming>h5{
    color: #ffffff;
  }
  
#send-btn{
  background-color: lawngreen;
  border-radius: 10px 0px;
}
#send-btn:hover{
  border-bottom:2px solid yellow;
}
.t{
  background:2px solid red;
}

.chatbot {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 26%;
  background-color: #539be87a;
  border: 2px solid #ca3fdf;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-bottom: 250px;
  margin-left: 300px;
  height: 58%;
}

.chatbot h3 {
  margin: 0;
  text-align: center;
}

#chatbox {
  height: 200px;
  overflow-y: scroll;
  border: 3px solid #cd3bcd;
  background-color: #e6ebf28a;
  padding: 10px;
  height: 78%;
  font-size: 25px;
}
.in{
  margin: 3px;
  margin-top: 4px;
  height: 45px;
  width: 375px;
  border-radius: 10px;
  font-size: 25px;
}
.se{
  width: 80px;
  height: 30px;
  margin-top: 2px;
  margin-bottom: 1px;
  margin-left: 8px;
  background: linear-gradient(to right,rgb(207, 74, 136),rgb(21, 145, 207));
  font-size: 20px; 
}
